<p> </p>
@{
    ViewBag.Title = "About";
}

<div class="jumbotron">
    <h1 class="display-4">維護及修繕系統</h1>
    <p class="lead">這是個申報維護及修繕系統，各項維修都需要時間，我們會盡量以最快速度滿足您的需求</p>
    <hr class="my-4">
    <p>以下將進入系統列表</p>
    @Html.ActionLink("報修表單列表", "Index", "Lists")
</div>